In [2]:
import geopandas as gpd

blocks_gdf = gpd.read_parquet('./../data/blocks.parquet')
blocks_gdf.head()

,geometry,land_use,is_living,build_floor_area,living_demand,living_area,share_living,business_area,share_business,site_area,...,capacity_bus_station,capacity_bus_stop,capacity_pier,capacity_animal_shelter,capacity_military_kom,capacity_prison,capacity_landfill,capacity_plant_nursery,capacity_greenhouse_complex,capacity_warehouse
id,,,,,,,,,,,,,,,,,,,,,
0,"POLYGON ((354918.622 6625258.829, 354901.464 6...",None,True,43840.686518,50.641057,30688.480678,2.199357,13152.205840,0.942581,8.044667e+05,...,0,0,0,0,0,0,0,0,0,0
1,"POLYGON ((355412.142 6623378.149, 355411.700 6...",transport,True,10294.395525,53.114392,2177.690063,0.431105,8116.705462,1.606820,2.317313e+04,...,0,0,0,0,0,0,0,0,0,0
2,"POLYGON ((353934.329 6625429.433, 353923.453 6...",recreation,True,1173.871643,58.693582,821.710142,0.706252,352.161501,0.302679,3.630058e+05,...,0,0,0,0,0,0,0,0,0,0
3,"POLYGON ((355099.099 6623847.765, 355074.808 6...",residential,True,46303.954706,52.660044,30595.485797,2.760046,15708.468909,1.417075,1.964145e+05,...,0,0,0,0,0,0,0,0,0,0
4,"POLYGON ((352766.168 6621954.748, 352744.412 6...",recreation,True,153749.574111,53.097680,106407.750936,2.352959,47341.823175,1.046854,1.781752e+06,...,0,0,0,0,0,0,0,0,0,0

## Density indicators

In [3]:
from blocksnet.analysis.indicators import calculate_density_indicators 

blocks_df = calculate_density_indicators(blocks_gdf[[
    'site_area',
    'footprint_area',
    'build_floor_area',
    'living_area'
]])

2025-03-30 16:00:10.070 | WARNING  | blocksnet.analysis.indicators.density.core:_impute_non_living_area:19 - The non_living_area is not in columns, restoring

In [4]:
blocks_df.head()

,site_area,footprint_area,build_floor_area,living_area,non_living_area,fsi,gsi,mxi,l,osr,share_business,share_living
id,,,,,,,,,,,,
0,8.044667e+05,13953.390266,43840.686518,30688.480678,13152.205840,0.054497,0.017345,0.700000,3.141938,18.031500,0.942581,2.199357
1,2.317313e+04,5051.410558,10294.395525,2177.690063,8116.705462,0.444238,0.217986,0.211541,2.037925,1.760348,1.606820,0.431105
2,3.630058e+05,1163.480697,1173.871643,821.710142,352.161501,0.003234,0.003205,0.700000,1.008931,308.246934,0.302679,0.706252
3,1.964145e+05,11085.135352,46303.954706,30595.485797,15708.468909,0.235746,0.056437,0.660753,4.177121,4.002452,1.417075,2.760046
4,1.781752e+06,45222.959595,153749.574111,106407.750936,47341.823175,0.086291,0.025381,0.692085,3.399812,11.294526,1.046854,2.352959

## Development indicators

In [5]:
blocks_gdf = blocks_gdf[blocks_gdf.fsi >= blocks_gdf.gsi]

In [6]:
from blocksnet.analysis.indicators import calculate_development_indicators 

blocks_df = calculate_development_indicators(blocks_gdf[[
    'site_area',
    'fsi',
    'gsi',
    'mxi',
]])

In [7]:
blocks_df.head()

,site_area,fsi,gsi,mxi,build_floor_area,footprint_area,living_area,non_living_area
id,,,,,,,,
0,8.044667e+05,0.054497,0.017345,0.700000,43840.686518,13953.390266,30688.480678,13152.205840
1,2.317313e+04,0.444238,0.217986,0.211541,10294.395525,5051.410558,2177.690063,8116.705462
2,3.630058e+05,0.003234,0.003205,0.700000,1173.871643,1163.480697,821.710142,352.161501
3,1.964145e+05,0.235746,0.056437,0.660753,46303.954706,11085.135352,30595.485797,15708.468909
4,1.781752e+06,0.086291,0.025381,0.692085,153749.574111,45222.959595,106407.750936,47341.823175