In [1]:
import pandas as pd

blocks = pd.read_pickle('blocks.pickle')

In [2]:
blocks = blocks[['living_area', 'population']]
blocks.head()

    living_area  population
0      0.000000         0.0
1      0.000000         0.0
2   4197.188633       109.0
3   3033.795607        77.0
4  20860.965881       431.0

In [3]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(blocks, test_size=0.2, random_state=42)

In [ ]:
from blocksnet.machine_learning.strategy.xgboost.regression_strategy import XGBoostRegressionStrategy

strategy = XGBoostRegressionStrategy()

In [5]:
strategy.train(train, test, ['population'])

0.8339983697968631

In [10]:
loss, df = strategy.validate(test, ['population'])

In [8]:
strategy.predict(test, ['population'])

      population
131    81.611145
4607   14.506462
2191   60.204121
1783    9.933261
2835  443.280334
...          ...
2142    0.014629
4881    0.014629
712     0.014629
8287  753.897156
510    24.509947

[1874 rows x 1 columns]