In [4]:
import geopandas as gpd

blocks_gdf = gpd.read_parquet('./../data/blocks.parquet')[['geometry']]
blocks_gdf.head()

                                             geometry
id
0   POLYGON ((354918.622 6625258.829, 354901.464 6...
1   POLYGON ((355412.142 6623378.149, 355411.700 6...
2   POLYGON ((353934.329 6625429.433, 353923.453 6...
3   POLYGON ((355099.099 6623847.765, 355074.808 6...
4   POLYGON ((352766.168 6621954.748, 352744.412 6...

## Adjacency graph

In [5]:
sjoin_gdf = blocks_gdf.sjoin(blocks_gdf, predicate='intersects')
sjoin_gdf[sjoin_gdf.index != sjoin_gdf['index_right']]

                                                geometry  index_right
id
0      POLYGON ((354918.622 6625258.829, 354901.464 6...            3
0      POLYGON ((354918.622 6625258.829, 354901.464 6...         5379
0      POLYGON ((354918.622 6625258.829, 354901.464 6...         7524
0      POLYGON ((354918.622 6625258.829, 354901.464 6...         1058
0      POLYGON ((354918.622 6625258.829, 354901.464 6...            2
...                                                  ...          ...
16317  POLYGON ((316419.909 6679189.653, 316319.749 6...        14859
16318  POLYGON ((315709.232 6679519.841, 315748.877 6...        15191
16318  POLYGON ((315709.232 6679519.841, 315748.877 6...        16317
16318  POLYGON ((315709.232 6679519.841, 315748.877 6...          954
16318  POLYGON ((315709.232 6679519.841, 315748.877 6...        14859

[106850 rows x 2 columns]

In [17]:
from blocksnet.relations import generate_adjacency_graph

graph = generate_adjacency_graph(blocks_gdf, 10)

2025-02-22 17:23:45.144 | INFO     | blocksnet.relations.adjacency.core:_generate_adjacency_nodes:9 - Generating nodes.
2025-02-22 17:23:45.152 | INFO     | blocksnet.relations.adjacency.core:_generate_adjacency_edges:13 - Generating edges.
2025-02-22 17:23:46.557 | SUCCESS  | blocksnet.relations.adjacency.core:generate_adjacency_graph:31 - Adjacency graph successfully generated: 16320 nodes, 16036 edges

In [23]:
for block_id in graph.neighbors(1):
    print(block_id)

1060
1426
1427
1428
4291